__pycache__/*
.DS_Store
.vscode/*
*/DS_Store
*/.vscode/*
*/.DS_Store
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints
*/.DS_Store
*/.vscode
*/.ipynb_checkpoints
*/.DS_Store
*/.vscode
*/.ipynb_checkpoints
*/.DS_Store
*/.vscode
*/.ipynb_checkpoints